body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
}

.upper {
    display: flex;
    flex-direction: column;
    /* justify-content: space-; */
    background: #1F2937;
}

.header {
    display: flex;
    margin: 24px 64px;
    gap: 8px;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.info {
    display: flex;
    /* flex: 1; */
    justify-content: space-around;
    margin: 24px 64px;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-side img {
    max-width: 600px;
}

img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.header-two {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.images {
    display: flex;
    flex-direction: column;
}

.middle-down {
    text-align: center;
    background: #E5E7EB;
    margin: 24px 64px;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center; 
    background: #3882F6;  
    margin: 24px 64px;
}

.sign-up-text {
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
}

.footer {
    margin-top: auto;
    text-align: center;
    background: #1F2937;
    color: #F9FAF8;
}

a {
    text-decoration-line: none;
    color: #F9FAF8;
}

button {
    background: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 5px 20px;
    border-width: 3px;
    border-color: #3882F6
}

.sign-up-button button {
    border-color: white;
    
}